# Redis
APP_CONFIG__REDIS__URL=redis://redis:6379/0
APP_CONFIG__REDIS__CHANNEL=channel

# Database
APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/db_name

# Database ClickHouse
APP_CONFIG__MY_LOGGER__USE_CLICKHOUSE=true
APP_CONFIG__MY_LOGGER__CH_HOST=clickhouse
APP_CONFIG__MY_LOGGER__CH_PORT=8123
APP_CONFIG__MY_LOGGER__CH_USER=user
APP_CONFIG__MY_LOGGER__CH_PASSWORD=password
APP_CONFIG__MY_LOGGER__CH_DB=db

# URL PING
APP_CONFIG__PING_APP__URL=http://app_tg:8000/v1/data/check/