#TELEGRAM
APP_CONFIG__CONFIG_TG__TOKEN=token
APP_CONFIG__CONFIG_TG__PORT=8000

#redis
APP_CONFIG__REDIS__URL=redis://redis:6379/0
APP_CONFIG__REDIS__CHANNEL=channel

# URL FastAPI
APP_CONFIG__APP_DB__URL=app
